@model IEnumerable<Tag>

@{
    ViewData["Title"] = "Tags";
}

<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="bg-primary">
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tag tag in @Model)
            {
                @if (@tag.IsDeleted == 0)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Title</td>
                        <td><a href="@Url.Action("DeleteTag","Administration", new { id = @tag.Id })", class="btn btn-primary">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="@Url.Action("CreateTag","Administration")" class="btn btn-primary">Create</a>
</div>